<div class="container">
    <div id="menu" class="menu cf"></div>
    <h1 class="text-center"></h1>
    <div id="content">
        <div class="row">
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading text-center"><strong>Open</strong></div>
              <div class="task-bucket panel-body Open" data-status='0' >
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading text-center"><strong>In Progress</strong></div>
              <div  class="task-bucket panel-body in_progress" data-status='1'>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading text-center"><strong>Fixed</strong></div>
              <div  class="task-bucket panel-body Fixed" data-status='2'>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading text-center"><strong>Verified</strong></div>
              <div  class="task-bucket panel-body Verified" data-status='3'>

              </div>
            </div>
          </div>
        </div>
    </div>

</div>

<!-- Templates -->

<script type="text/template" id="tpl-menu">
    <div class="well">
        <ul>
            <li class="list-unstyled"><a href="#new"><btn class="btn btn-lg btn-primary">New</btn></a></li>
        </ul>
    </div>
</script>
<script type="text/template" id="tpl-list-item">
    <div class="task task-pointer" data-index="{{ id }}">
      <div  class="well text-center">
        <h3>{{ title }}</h3>
        <p>{{ description }}</p>
        <p>
            <a href="#edit/{{ id }}" class="text-muted">edit</a>

            <a href="#delete/{{ id }}" class="text-muted">delete</a>
        </p>
      </div>
    </div>
</script>
<script type="text/template" id="tpl-form">
     <div class="row wrap-form">
      <div class="col-md-12">
        <form  class="form-horizontal">
          <fieldset>
            <!-- Text input-->

            <div class="form-group">
                <div class="error-task"></div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label" for="title">Title</label>
              <div class="col-md-4">
                <input id="title" name="title"  class="form-control input-md title" required type="text" value="{{ title }}">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="status">Status</label>
              <div class="col-md-4">
                <select class="form-control status"> 
                    <option value="Open" {{ status == "Open" ? 'selected' : '' }}>Open</option>
                    <option value="in_progress" {{ status == "in_progress" ? 'selected' : '' }}>In progress</option>
                    <option value="Fixed" {{ status == "Fixed" ? 'selected' : '' }}>Fixed</option>
                    <option value="Verified" {{ status == "Verified" ? 'selected' : '' }}>Verified</option>
                </select>
              </div>
            </div>
            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="description">Description</label>
              <div class="col-md-4">
                <textarea class="form-control description"name="description" required>{{ description }}</textarea>
              </div>
            </div>
            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="save"></label>
              <div class="col-md-4">
                <button  class="btn btn-primary btn-block save">Save</button>
                <button  class="btn btn-primary btn-block cancel">Cancel</button>
              </div>
              
            </div>
          </fieldset>
        </form>
      </div>
    </div>
</script>
<!-- Templates -->
