<!DOCTYPE html>
<html>
<head>
  <title>TODO</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" %>

</head>
<body>

<%= yield %>
  <%= javascript_include_tag 'application'%> 
  <%= csrf_meta_tags %>
</body>
</html>
